        <div class="container">
        	<div class="row">
        		<div class="col-md-6 col-md-offset-3 text-center">
        		<h2>About Me!</h2>
        			<p class="lead">I'm currently a 4th Year Computer Science Student at the University of Waterloo. I Focus on many programming fields, such as C/C++ Development, Java Development, User Interfaces, Android Development, and Relational Databases. I'm a programmer who strives to deliver pure satisfaction in the programs I develop, with a focus on Design and Logic. I'm Also an avid app developer, with a tictactoe app and shape slicer app available in the Google Play store, and a NBA Stat Leaders app in development</p>
        		</div>
        	</div>
        </div>
