      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a href='https://www.facebook.com/renato.fernandes'><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href='https://twitter.com/renatoferns28'><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a href='https://github.com/renatofernandes28'><i class="fa fa-github fa-3x"></i></a></li>
              <li><a href='https://ca.linkedin.com/pub/renato-fernandes/69/373/30'><i class="fa fa-linkedin fa-3x"></i></a></li>
            
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; Renato Fernandes 2015</p>
          </div>
        </div>
      </div>
