    <!-- Services -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h1>Work Experience</h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="service-item">
              <h2 class='text-center'>Kik Interactive</h2>
              <center><img src='img/Kik-logo2.png' style='width:250px; height:100px;'></center>
              <h3>Mobile Developer - Android</h3>
              <ul>
              <li>Developed video trimming and encoding for the feature Gallery Video, which allows users to send videos from their phones gallery within Kik</li>
              <li>Implemented native video on the Kik Android platform</li>
              <li>Redesigned the content downloader to update asynchronously for multiple downloads</li>
              <li>Served as the technical lead on various content related features, such as tap to focus and cancel upload </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
            <div class="service-item">
              <h2 class='text-center'>Ultimate Software</h2>
              <center><img src='http://upload.wikimedia.org/wikipedia/en/8/8b/Ultimate_Software_logo.jpg' style='width:250px; padding-bottom:8px;'></center>
              <h3>Software Engineer</h3>
              <ul>
              <li>Wrote java code for the GWT backend framework to send alerts to the UltiPro client using DAO objects, SQL Queries, GWT property descriptors, and HTML templates </li>
              <li>Implemented important features for the UltiPro TouchBase Android Application to improve user experience and optimize client side performance</li>
              <li>Customized Android Dialogs based on client labor metrics</li>
              <li>Developed an Android automation framework using MonkeyRunner and Robotium</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
            <div class="service-item">
              <h2 class='text-center'>Axsium Group</h2>
              <center><img src='img/axsium_logo.png' style='width:250px; height:100px;'></center>
              <h3>Solution Developer</h3>
              <ul>
              <li>Updated Axsiums internal SharePoint website from 2010 to 2013 by creating page layouts for organizing projects using ASP.net, HTML, and CSS wrapped around SharePoint</li>
              <li>Created a VBA and Ruby on Rails Data Generation Script based on various workforce management schemas and imported them to Oracle and MSSQL servers</li>
              <li>Designed a Microsoft Access Database using VBA and Relational Database Design Patterns to assist with gathering information based on various criteria from Axsium clients</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- /Services -->